*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloock', sans-serif;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

$color-naranja: #ff9100c7;
$color-blanco: #f0ffff;
$color-gris: #727272;
$color-negro:#000000;

$ff-gloock: 'Gloock';

