.clientest{
    text-align: center;
    padding: 20px 20px;
    font-size: 4rem;
    font-family: 'Franklin Gothic';
    color: $color-negro;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.678);

    
}


.clientesV{
    padding: 20px 20px;
    margin: 50px;
 align-items: center;
}



